.ex-1-square{
    transition: 2s;
}

.ex-1-square:hover{
    background-color: red;
}

.ex-2-square{
    transition: 2s;
}

.ex-2-square:active{
    width: 100%;
}

.ex-3-square{
    transition: 2s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

.ex-4-square{
    transition: 2s;
}

.ex-4-square:hover{
    background-color: #F5F5F5;
}

.ex-5-square{
    transition: 2s;
}

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform: scale(0.5);
}

.ex-6-img{
    transition: 0.3s;
}

.ex-6-img:hover{
    filter: grayscale(100%);
}

.ex-8-img{
    transition: 1s;
}

.ex-8-img:hover{
    border-radius: 20px;
    filter: grayscale(100%);
}

.ex-9-img{
    transition: 1s;
}

.ex-9-img:hover{
    border-radius: 20px;
    filter: grayscale(100%);
    transform: scale(1.5);
}

.ex-10-icon {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }
}

.ex-11-icon:hover{
    animation: spinBack 1.5s linear;
}

@keyframes spinBack {
    0% {
        transform: rotate(0);
    }

    90% {
        transform: rotate(320deg);
    }

    100% {
        transform: rotate(0);
    }
}

.ex-12-button:hover .ex-12-top-white{
    animation: moveDX 2s linear;
}

@keyframes moveDX {
    0% {
        left: 10%;
    }

    50% {
        left: calc(100% - 60px);
    }

    100% {
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: moveSX 2s linear;
}

@keyframes moveSX {
    0% {
        right: 20%;
    }

    50% {
        right: calc(100% - 60px);
    }

    100% {
        right: 20%;
    }
}

.ex-13-button:hover .ex-13-top-white{
    animation: moveFullTop 2s linear;
}

@keyframes moveFullTop {
    0% {
        top: -10px;
        left: 10%;
    }

    30% {
        top: -10px;
        left: 70%;
    }

    45% {
        top: 100%;
        left: 70%;
    }

    75% {
        top: 100%;
        left: 0;
    }

    90% {
        top: -15px;
        left: 8%;
    }

    100% {
        top: -10px;
        left: 10%;
    }
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: moveFullBottom 2s linear;
}

@keyframes moveFullBottom {
    0% {
        bottom: -10px;
        right: 20%;

    }

    30% {
        bottom: -10px;
        right: 80%;

    }

    45% {

        bottom: 100%;
        right: 80%;
    }

    75% {

        bottom: 100%;
        right: 0;
    }

    90% {

        bottom: -5px;
        right: 18%;

    }

    100% {

        bottom: -10px;
        right: 20%;
    }
}

